<div class="w-1/3 px-2">
  {{#each @model as |band|}}
    <li class="mb-2">
      <LinkTo @route="bands.band.songs" @model={{band.slug}}>
        {{band.name}}
      </LinkTo>
    </li>
  {{/each}}
</div>
<div class="w-2/3 px-2">
  {{outlet}}
</div>
